.moviesCardList{
    padding: 70px 70px 10px;
    margin: 0;
    list-style-type: none;
}
.helpButton{
    position: absolute;
    left: 50%;
}
@media all and (max-width: 1279px){
    .moviesCardList {
        padding: 60px 30px 10px;
    }
}
@media all and (max-width: 767px){
    .moviesCardList {
        padding: 40px 10px 20px;
    }
}
