.promo {
  background: #f3c1f8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.promo__text {
  max-width: 730px;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  padding: 184px 0 224px;
  margin: 0;
}
.promo__background {
  position: absolute;
  width: 320px;
  height: 320px;
}
@media all and (max-width: 767px) {
  .promo__text {
    min-width: 300px;
    font-size: 31px;
    line-height: 39px;
    padding: 207px 10px 246px;
  }
  .promo__background {
    width: 248px;
    height: 248px;
  }
}
