.auth {
  display: flex;
  flex-direction: column;
}
.auth__about {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: initial;
  color: #a0a0a0;
  padding-bottom: 10px;
}
.auth__input {
  width: 100%;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  border: none;
  outline: none;
  background: #f9f9f9;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 20px;
}
.auth__input:last-child {
  margin-bottom: 0;
}
.auth__input:valid {
  border-bottom: 2px solid green;
}
.auth__input:invalid {
  border-bottom: 2px solid red;
}
.auth__input:focus {
  border: none;
}
