.auth{
    display: flex;
    flex-direction: column;
}
.auth__about{
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: initial;
    color: #A0A0A0;
    padding-bottom: 10px;
}
.auth__input{
    width: 100%;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    border: none;
    outline: none;
    background: #F9F9F9;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
}
.auth__input:last-child{
    margin-bottom:0;
}
